<?xml version="1.0" encoding="UTF-8" ?>
<Configuration  status="debug" strict="true" name="XMLConfigTest"
packages="com.joy">
    <Filter type="ThresholdFilter" level="trace"/>
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="[%p] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%class{36}] %L %M - %msg%xEx%n"/>
            <Filter type="MarkerFilter" marker="mall" onMatch="ACCEPT" onMismatch="DENY"/>
        </Appender>
        <Kafka name="Kafka" topic="log-topic">
            <PatternLayout pattern="[%p] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%class{36}] %L %M - %msg%xEx%n"/>
            <Property name="bootstrap.servers">localhost:9092</Property>
            <Property name="retries">0</Property>
            <Property name="syncSend">false</Property>
            <Property name="max.block.ms">1000</Property>
            <Property name="delivery.timeout.ms">1000</Property>
        </Kafka>
    </Appenders>
    <Loggers>
        <Logger name="com.joy" level="debug" additivity="false">
            <AppenderRef ref="STDOUT"></AppenderRef>
            <AppenderRef ref="Kafka"></AppenderRef>
        </Logger>

        <Root>
            <AppenderRef ref="STDOUT"></AppenderRef>
        </Root>
    </Loggers>
</Configuration>